:root {
  --rounded-xs:  0.125rem;
  --rounded-sm:  0.25rem;
  --rounded-md:  0.375rem;
  --rounded-lg:  0.5rem;
  --rounded-xl:  0.75rem;
  --rounded-2xl: 1rem;
  --rounded-3xl: 1.5rem;
  --rounded-4xl: 2rem;
  --text-xs:     0.75rem;
  --text-sm:     0.875rem;
  --text-base:   1rem;
  --text-lg:     1.125rem;
  --text-xl:     1.25rem;
  --text-2xl:    1.5rem;
  --text-3xl:    1.875rem;
  --text-4xl:    2.25rem;
  --shadow-xs:  0  1px  2px   0   rgb(0 0 0 / 0.05);
  --shadow-sm:  0  1px  3px   0   rgb(0 0 0 / 0.1),
                0  1px  2px  -1px rgb(0 0 0 / 0.1);
  --shadow-md:  0  4px  6px  -1px rgb(0 0 0 / 0.1),
                0  2px  4px  -2px rgb(0 0 0 / 0.1);
  --shadow-lg:  0 10px 15px  -3px rgb(0 0 0 / 0.1),
                0  4px  6px  -4px rgb(0 0 0 / 0.1);
  --shadow-xl:  0 20px 25px  -5px rgb(0 0 0 / 0.1),
                0  8px 10px  -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
  --shadow-pop: 0  2px  4px   0   rgb(0 0 0 / 0.3),
                0  4px  6px  -1px rgb(0 0 0 / 0.3);
  --shadow-top: 0 -2px  4px  -1px rgb(0 0 0 / 0.15),
                0 -6px 12px  -4px rgb(0 0 0 / 0.15),
                0 -12px 24px -8px rgb(0 0 0 / 0.15);
  --shadow-inset: inset 0 -20px 20px -20px rgb(0 0 0 / 0.3);

  --stone-50:    oklch(0.985 0.001 106.423);
  --stone-100:   oklch(0.97  0.001 106.424);
  --stone-200:   oklch(0.923 0.003 48.717);
  --stone-300:   oklch(0.869 0.005 56.366);
  --stone-400:   oklch(0.709 0.01  56.259);
  --stone-500:   oklch(0.553 0.013 58.071);
  --stone-600:   oklch(0.444 0.011 73.639);
  --stone-700:   oklch(0.374 0.01  67.558);
  --stone-800:   oklch(0.268 0.007 34.298);
  --stone-900:   oklch(0.216 0.006 56.043);
  --stone-950:   oklch(0.147 0.004 49.25);
  --lime-400:    oklch(0.841 0.238 128.85);
  --lime-500:    oklch(0.768 0.233 130.85);
  --lime-600:    oklch(0.648 0.2   131.684);
  --amber-400:   oklch(0.828 0.189 84.429);
  --amber-500:   oklch(0.769 0.188 70.08);
  --amber-600:   oklch(0.666 0.179 58.318);
  --rust-400:    oklch(0.649 0.167 44.024);
  --rust-500:    oklch(0.661 0.181 36.227);
  --rust-600:    oklch(0.593 0.147 33.287);
  --red-400:     oklch(0.704 0.191 22.216);
  --red-500:     oklch(0.637 0.237 25.331);
  --red-600:     oklch(0.577 0.245 27.325);
  --rose-400:    oklch(0.712 0.194 13.428);
  --rose-500:    oklch(0.645 0.246 16.439);
  --rose-600:    oklch(0.586 0.253 17.585);
  --pink-400:    oklch(0.718 0.202 349.761);
  --pink-500:    oklch(0.656 0.241 354.308);
  --pink-600:    oklch(0.592 0.249 0.584);
  --fuchsia-400: oklch(0.74  0.238 322.16);
  --fuchsia-500: oklch(0.667 0.295 322.15);
  --fuchsia-600: oklch(0.591 0.293 322.896);
  --violet-400:  oklch(0.702 0.183 293.541);
  --violet-500:  oklch(0.606 0.25  292.717);
  --violet-600:  oklch(0.541 0.281 293.009);
  --steel-400:   oklch(0.642 0.107 242.849);
  --steel-500:   oklch(0.558 0.109 246.312);
  --steel-600:   oklch(0.507 0.087 244.748);

  --page:    var(--stone-200); /* page/box: background surfaces */
  --box:     var(--stone-100);
  --text:    var(--stone-900); /* text/soft: typography */
  --soft:    var(--stone-600);
  --accent:  var(--red-600);   /* accent/support: brand colors */
  --support: var(--pink-600);
  --transparent: #ffffff00;
  --border: 1px solid;
  --margin: 1rem auto;
  --padding: 0.25rem 0.5rem;
  --transition: 0.5s ease;

  --info:    var(--violet-600);
  --warning: var(--amber-400);
  --success: var(--lime-600);
  --danger:  var(--rust-600);

  --font-major: "Montserrat", serif;
  --font-minor: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

  @media (prefers-color-scheme: dark) {
    --page:    var(--stone-900);
    --box:     var(--stone-800);
    --text:    var(--stone-100);
    --soft:    var(--stone-300);
    --accent:  var(--red-500);
    --support: var(--pink-400);
    --transparent: #00000000;

    --info:    var(--violet-400);
    --warning: var(--amber-500);
    --success: var(--lime-400);
    --danger:  var(--rust-400);
  }
}

@media (prefers-color-scheme: dark) {
  html { color-scheme: dark; }
}

/* <CSSReset> */
*, *::before, *::after { box-sizing: border-box; }
*                      { margin: 0;  padding: 0; }

input, textarea, select          { outline: none; border-radius: 0; }
a                                { text-decoration: none;           }
ul, ol                           {      list-style: none;           }
img, picture, video, canvas, svg {         display: block;          }
button                           {          cursor: pointer;        }

a, p, h1, h2, h3, h4, h5, h6, button, label, input, textarea, select, option {
  overflow-wrap: break-word;
           font: inherit;
          color: inherit;
}

::-webkit-scrollbar       { width: 1px; height: 1px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { background: var(--text); border-radius: 5px; }
/* </CSSReset> */

.box {
  padding: var(--padding);
  border: var(--border);
  border-radius: var(--rounded-sm);
  background-color: var(--box);
  box-shadow: var(--shadow-lg);
}

.you     { color: var(--info);    }
.they    { color: var(--warning); }
.damage  { color: var(--danger);  }
.health  { color: var(--success); }

body {
  min-height: 100vh; /* overlays stretch to screen height */
  line-height: 1.2;
  color: var(--text);
  background: var(--page);
  font-family: var(--font-major);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

header {
  margin-bottom: 1rem;
  padding: 0.5rem;
  background-color: var(--accent);
  color: var(--page);
  box-shadow: var(--shadow-2xl);
  font-weight: bold;
  text-align: center;
}

h2 {
  text-align: center;
  margin: 0.25rem;
  font-weight: bold;
}

section {
  width: 90%;
  max-width: 40rem;
}

#game {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.health-bar {
  width: 100%;
  height: 40px;
  margin: 1rem 0;
  border: var(--border) var(--box);
  border-radius: var(--rounded-2xl);
  background: var(--soft);

  .bar {
    width: 100%;
    height: 100%;
    border-radius: var(--rounded-2xl);
    background-color: var(--success);
    transition: width 0.5s ease, background-color 0.5s ease;
  }
}

#controls {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;

  button {
    --color: var(--support);
    width: 12rem;
    margin: 1rem;
    padding: 1rem 2rem;
    border: var(--border);
    border-radius: var(--rounded-lg);
    color: var(--page);
    background-color: var(--color);
    box-shadow: var(--shadow-lg);
    text-wrap: nowrap;
    font-weight: 600;
    text-transform: uppercase;
    transition: var(--transition);

    &:hover, &:active {
      filter: brightness(0.85);
      box-shadow: var(--shadow-xl);
      font-weight: 900;
    }

    &:disabled {
      --color: var(--soft);
      pointer-events: none;
      box-shadow: none;
    }
  }
}

#log {
  ul {
    margin: 0 auto;
    width: fit-content;

    strong { text-transform: capitalize ;}
  }
}
