:root {
  --green: #a4c04f;
  --magenta: #ec3169;
  --purple: #9c40b0;
  --gray-1: #fafafa;
  --gray-2: #bababa;
  --shadow: rgba(0, 0, 0, 0.26);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  font: inherit;
  color: inherit;
}


html {
  font-family: 'Jost', sans-serif;
  color: white;
}

#vue-basics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 8px var(--shadow);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header {
  box-shadow: 0 2px 8px var(--shadow);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  font-size: 2.5rem;
  background-color: var(--green);
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 1rem;
  border-bottom: 4px solid var(--gray-2);
  color: var(--green);
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid var(--green);
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 25px;

  span { display: block; }
}

label { color: black; }

input {
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 2px solid var(--green);
  border-radius: 15px;
  outline: var(--green);
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--purple);
  background-color: var(--purple);
  padding: 0.05rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--shadow);
  transition: 0.5s ease;

  &:hover, &:active {
    background-color: var(--magenta);
    border-color: var(--magenta);
    box-shadow: 1px 1px 4px var(--shadow);
  }

  &.modifier {
    --color: var(--purple);
    border: none;
    background-color: var(--color);
    width: 80%;
    margin: auto;
    text-transform: capitalize;

    &.left   { --color: #42b6c0; }
    &.middle { --color: #6cc042; }
    &.right  { --color: #c09a42; }
  }
}

form, .bind-form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--green);
  border-radius: 15px;
  background-color: var(--gray-1);
}
