:root {
  --green: #4fc08d;
  --magenta: #ec3169;
  --pink: #ff0077;
  --gray: #ccc;
  --shadow: rgba(0, 0, 0, 0.26);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  overflow-wrap: break-word;
  font: inherit;
  color: inherit;
}


html {
  font-family: 'Jost', sans-serif;
  color: white;
}

#vue-basics {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  box-shadow: 0 2px 8px var(--shadow);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

.buttons {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

header {
  box-shadow: 0 2px 8px var(--shadow);
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  font-size: 2.5rem;
  background-color: var(--green);
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

h2 {
  font-size: 2rem;
  font-weight: bolder;
  margin-top: 1rem;
  border-bottom: 4px solid var(--gray);
  color: var(--green);
}

p {
  font-size: 1.25rem;
  font-weight: bold;
  border: 1px solid var(--green);
  background-color: var(--green);
  padding: 0.5rem;
  border-radius: 25px;

  span { display: block; }
}

input {
  color: black;
  font-size: 1.25rem;
  padding: 0.5rem;
  border: 2px solid var(--green);
  border-radius: 15px;
  outline: var(--green);
}

button {
  font-size: 1.5rem;
  cursor: pointer;
  border: 1px solid var(--pink);
  background-color: var(--pink);
  padding: 0.05rem 1rem;
  border-radius: 20px;
  box-shadow: 1px 1px 2px var(--shadow);

  &:hover, &:active {
    background-color: var(--magenta);
    border-color: var(--magenta);
    box-shadow: 1px 1px 4px var(--shadow);
  }

  &.modifier {
    width: 80%;
    margin: auto;
  }
}

form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 0.5rem;
  border: 1px solid var(--green);
  border-radius: 15px;
  background-color: var(--gray);
}
